return {
  db = {
    host = '127.0.0.1',
    port = 3306,
    user = 'backup',
    pass = 'backup'
  },
  gdrive = {
    apiKey = '<google-api-token>',
    folder = 'gdrive-folder-id'
  },
  databases = {
    'chars',
    'logon',
    'logs',
    'world'
  }
}
