return {
  db = {
    host = '127.0.0.1',
    port = 3306,
    user = 'backup',
    pass = 'backup'
  },
  gdrive = {
    owner = 'email@drive.owner',
    folder = 'folder-id'
  },
  oauth = {
    email = 'your@service.mail',
    key = '<service-key>'
  },
  rsa = {
    pubkey = '/path/to/pub.key'
  },
  databases = {
    'chars',
    'logon',
    'logs',
    'world'
  }
}
